<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A static website template for security pages.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{ site.company_name }} Security</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{ site.baseurl }}/assets/images/icon.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SecurityTemplate">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/images/icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/icon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-pink.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!-- Content Security Policy - Disabled by default -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' code.getmdl.io; style-src 'self' code.getmdl.io; img-src *; font-src *; upgrade-insecure-requests; reflected-xss block;">-->
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><a style="color: #3d6098; text-decoration:none;" href="{{ site.baseurl }}/"><b>{{ site.company_name }}</b> Security</a></span>
          <div class="mdl-layout-spacer"></div>
 		<nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Policy</a>
        {% if site.hackerone_url %}
          <a class="mdl-navigation__link" href="{{ site.hackerone_url }}">Report Issue</a>
        {% elsif site.bugcrowd_url %}
          <a class="mdl-navigation__link" href="{{ site.bugcrowd_url }}">Report Issue</a>
        {% else %}
          <a class="mdl-navigation__link" href="{{ site.baseurl }}/report">Report Issue</a>
        {% endif %}
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/hof">Hall of Fame</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/advisories">Advisories</a>
      </nav>
        </div>
      </header>
      <div class="demo-ribbon"></div>

      <main class="demo-main mdl-layout__content" style="flex: 1 0 auto;">
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            {{ content }}
          </div>
        </div>
        
      <footer class="demo-footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
              <li><a href="{{ site.baseurl }}/">{{ site.company_name }} Security Policy</a>, built with <a href="https://github.com/EdOverflow/security-template">Security Template</a></li>
            </ul>
          </div>
        </footer>


      </main>

     
    </div>
  </body>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</html>
